<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Esports Database</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename= 'bootstrap.min.css')}}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for ('static', filename= 'theme.css')}}" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Esports Database</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/player">Search For Player</a></li>
            <li class="active"><a href="#">Search For Club</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">

      <div class="row">
        <div>

          <div class="panel panel-primary">

            <div class="panel-heading">
              <h3 class="panel-title">Club</h3>
            </div>

            <div class="panel-body">

              <form method="POST" action="{{ url_for('club')}}">
                <div class="form-group">
                  <label for="carbohydrates">Game</label>
                  <select class="form-control" name = "gameID">
                   <option value=0>All Games</option>
                   <option value=000001 >League of Legends</option>
                   <option value=000002 >DOTA2</option>
                   <option value=000003 >CS:GO</option>
                   </select>
                </div>     
<!--                 <div class="form-group">
                  <label for="carbohydrates">Team</label>
                  <select class="form-control" name = "team">
                   <option value="">All Games</option>
                   <option value="Team Liquid" >Team Liquid</option>
                   <option value="LGD" >LGD</option>
                   <option value="Natus Vincere" >Natus Vincere</option>
                   <option value="Team SoloMid" >Team SoloMid</option>
                   <option value="Evil Geniuses" >Evil Geniuses</option>
                   <option value="RRQ.Trust" >RRQ.Trust</option>                   
                   </select>
                </div>   -->                          
                <div class="form-group">
                  <label for="carbohydrates">Nationality</label>
                  <select class="form-control" name = "nationality">
                   <option value="All" >All Countries</option>
                   <option value="Ukraine" >"Ukraine"</option>
                   <option value="Thailand" >"Thailand"</option>
                   <option value="US" >"United States"</option>
                   <option value="China" >"China"</option>
                   </select>
                </div>  
                 <div class="form-group">
                  <label for="rank">Rank</label>
                    <div>
                      <input type="checkbox" id="rank" name="rank">
                      <label for="rank">Show Rank</label>
                    </div>
                                    </div>  
                <button type="submit" class="btn btn-primary">Search</button>
          </div>
                </div>     

              </div>
          <div class="panel panel-primary">

            <div class="panel-heading">
              <h3 class="panel-title">Show Teams Participated in All Tounaments</h3>
            </div>


            <div class="panel-body">
                <div class="form-group">
                  <label for="carbohydrates">Game</label>
                  <select class="form-control" name = "gameID2">
                   <option selected disabled hidden >Select A Game</option>
                   <option value=000001 >League of Legends</option>
                   <option value=000002 >DOTA2</option>
                   <option value=000003 >CS:GO</option>
                   </select>
                </div>    
                <div class="form-group">

                </div>  
                <button type="submit" class="btn btn-primary">Search</button>
          </div>
           <div class="panel-heading">
              <h3 class="panel-title">Result</h3>
            </div> 
            <table align="center">
            <p>{{ output | safe }}</p>
          </table>
               {% for item in output2 %}
                    <h3>No Such a Club</h3>
                {% endfor %}
                {% for item in output3 %}
                    <h3>Select A Game</h3>
                {% endfor %}
              </div>
        </div>
      </div>

    </div>

  </body>

</html>